@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    background-color: rgb(240, 240, 221);
    margin: 0;
    font-family: 'Secular One', sans-serif;;
}

.cuadrado {
     width: 30%;
     background: rgb(240, 240, 221);
     padding-bottom: 30%;
     float: left;
     margin: 1.66%;
     border-radius:15%;
     transition: background 0.6s;
     --webkit-transition: background 0.6s;
     -moz-transition: background 0.6s;
}

#contenedor {
    margin: 20px auto;
   max-width: 600px;  
}

#colorAleatorio {
   font-size: 200%; 
}

#mensaje {
    display: inline-block;
    width: 20%;
    color: rgb(42, 165, 181);
}

h1 {
    color: rgb(240, 240, 221);
    text-align: center;
    line-height: 1.1;
    background-color: rgb(42, 165, 181);
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#parrafo {
    font-size: 55%;
}

#franja {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(240, 240, 221);
    padding: 0.5rem;
    height: 30px;
    text-align: center;
    color: black;

}


.seleccionado {
    color: rgb(240, 240, 221);
    background: rgb(42, 165, 181);
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    border-radius:15%;

    height: 100%;
    font-weight: 700;
    color: rgb(42, 165, 181);
    letter-spacing: 1px;
    transition: all 0.3s;
    --webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
} 

button:hover {
    color: rgb(240, 240, 221);
    background: rgb(42, 165, 181);
}